@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
body{
   font-family: "Play";
}
.wrapper{
   min-height: 100%;
   overflow: hidden;
}
main{
   padding-left: 20px;
}
/*Settings*/

.header-body{
   min-height: 60px;
   background: url('../img/header-img.jpg');
   font-size: 25px;
   font-weight: 700;
   text-align: center;
   padding-top: 10px;
   text-shadow: 4px 3px 4px rgba(150, 150, 150, 1);
   margin-bottom: 30px;
}
.section-one{
   margin-bottom: 30px;
}
.columns{
   display: inline-block;
   max-width: 700px;
}
.column-one{
   margin-right: 20px;
}
.paragraph{
   max-width: 500px;
   padding: 10px;
   border-radius: 20px;
   background-color: rgb(216, 216, 216);
   text-align: center;
   margin-bottom: 8px;
}
.column-one p:last-child{
   margin-bottom: 0;
}
.column-one p:first-child{
   text-decoration: overline;
}
.column-one p:last-child{
   background-color: rgb(156, 243, 214);
}
.column-one p:nth-of-type(odd){
   background-color: rgb(237, 243, 156);
}
.column-one p:nth-child(4){
   background-color: rgb(253, 193, 221);
}
.column-one p:nth-child(2n +4){
   text-decoration: underline;
}
.column-two p:first-of-type{
   background-color: rgb(221, 192, 248);
}
.column-two p:last-of-type{
   background-color: rgb(221, 192, 248);
}
.column-two p:nth-of-type(2){
   background-color: rgb(189, 235, 236);
}
.column-two p:nth-child(3n + 3){
   color: azure;
   background-color: rgb(20, 19, 19);
}
.button-body{
   max-width: 200px;
   margin: 0px auto;
   margin-bottom: 30px;
}
.button{
   display: inline-block;
   text-align: center;
   padding: 20px;
   background-color: rgb(82, 129, 231);
   border-radius: 22px;
   font-size: 20px;
   font-weight: 700;
   color: aliceblue;
   text-transform: uppercase;
   box-shadow: 9px 9px 16px -1px #000000;
}
.button:hover{
   background-color: rgb(49, 77, 145);
   color: rgb(198, 206, 211);
   font-size: 21px;
   box-shadow: 10px 10px 16px -1px #000000;
}
.button:active{
   background-color: rgb(23, 38, 75);
   box-shadow: 0px -2px 16px 10px #9dd2e2;
   color: aliceblue;
   box-shadow: inset -1px -2px 16px 4px #000000;
}
.button:visited{
   background-color: rgb(153, 153, 153);
   color: #2c5bf7;
}
.button:focus{
   outline: 1px solid rgb(0, 113, 128);
}
.list-body h2, li, p{
   margin-bottom: 10px;
}
.list-body >*:last-child{
   margin-bottom: 0;
}
.list-body::first-line{
   font-weight: 700;
   font-size: 20px;
}
.list-body p{
   font-size: 19px;
   color: #182652;
   font-style: oblique;
}
.list-body::first-letter{
   color: red;
   font-size: 22px;
}
.list-body li:first-of-type::before{
   content: '☝';
}
.list-body li:nth-of-type(2)::before{
   content: '';
   padding-left: 20px;
   background: url('../img/1024px-Windows_Settings_app_icon.png')0 3px/15px 15px no-repeat;
}
.list-body li:nth-of-type(3)::after{
   content: '';
   display: inline-block;
   margin-left: 4px;
   width: 30px;
   height: 10px;
   background-color: #384e96;
   border-radius: 5px;
}
.list-body li:nth-of-type(4):hover::before{
   content: '';
   display: inline-block;
   width: 120px;
   height: 11px;
   background-color: rgb(255, 217, 0);
   border-radius: 8px;
   margin-right: 6px;
}
.list-body li:last-of-type:hover::after{
   content: '';
   display: inline-block;
   width: 74px;
   height: 17px;
   margin-left: 10px;
   background: url('../img/cat-eyes.jpg')0 0/70px 17px no-repeat;
}
.target{
   margin-top: 30px;
}
/*поставил такой отступ, для демонстрации отмены последнего отступа выше*/
.target-text{
   padding: 20px;
   background-color: #c0c0c0;
   border-radius: 20px;
}
.button-target{
   display: inline-block;
   padding: 11px;
   background-color: rgb(76, 214, 117);
   border-radius: 20px;
   margin-bottom: 10px;
   font-size: 18px;
}
.target-text:target{
   display: none;
   background-color: rgb(233, 179, 179);
}
.footer-body{
   min-height: 50px;
   text-align: center;
   padding-top: 10px;
   background: rgb(242,246,248);
   background: -moz-linear-gradient(top,  rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
   background: -webkit-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%);
   background: linear-gradient(to bottom,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 );
}
.footer-body a{
   display: inline-block;
   font-style: oblique;
   font-size: 20px;
   font-weight: 700;
   color: rgb(182, 65, 11);
}
